# Node dependencies
backend/node_modules/
frontend/node_modules/

# Environment files
backend/.env
frontend/.env

# Build artifacts
frontend/dist/
backend/public/organogramas/*
!backend/public/organogramas/.gitkeep
backend/uploads/logos/*
backend/uploads/photos/*
!backend/uploads/logos/.gitkeep
!backend/uploads/photos/.gitkeep
backend/data/*.sqlite
backend/data/*.db
backend/data/*.sqlite3

# Editor configs
.DS_Store
.idea/
.vscode/
